// Load Model
var Todo = require('../models/<%= ressource %>');

module.exports = {
  // You can overwrite default crud methods
  // read, create, update, delete, all

  // And you can add custom methods
};
